<nav>

    <div class="logo">Men's Clothing Store</div>
    <link rel="stylesheet" href="nav-bar.component.css">
    <label for="menu-toggle">&#9776;</label>
    <input type="checkbox" id="menu-toggle" />
    <ul class="menu">
        <li><a routerLink = ''>Home</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact</a></li>
        <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
                <i class="bi-cart-fill me-1"></i>
                Cart
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </form>
    </ul>
</nav>