<!DOCTYPE html>
<html>

<head>
    <title>Men's Clothing Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
</head>

<body>

    <!-- Hero Image -->
    <div class="hero-image">
        <div>
            <button type="button" class="btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; --bs-btn-margin-x: .75rem">
                SIGN-UP
            </button>
            
            <button type="button" class="btn-secondary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; --bs-btn-margin-x: .75rem">
                LOGIN
            </button>
        </div>

        <div class="hero-text">
            <h1>Discover Your Style</h1>
            <p>Shop our latest collection of men's clothing.</p>
            <a href="#" class="button">Shop Now</a>
        </div>
    </div>

    <!-- Main Content -->
    <main>
        <h2>Welcome to Our Store!</h2>
        <p>We offer a wide selection of men's clothing in various styles including casual, business, and formal. Browse
            our collection and find your perfect look.</p>
        <h3>Featured Products</h3>
        <div class="product-grid">
            <div class="product">
                <img src="https://i.ibb.co/GRHHp1T/ben-iwara-RC5e-Gf1fxlo-unsplash.jpg" alt="Product 1">
                <h4>Athletic Wear</h4>

            </div>
            <div class="product">
                <img src="https://i.ibb.co/YBqNNtw/cross-training-shoe.jpg" alt="Product 2">
                <h4>Footwear</h4>

            </div>
            <div class="product">
                <img src="https://i.ibb.co/zZwc2QD/Accessories.jpg" alt="Product 3">
                <h4>Accessories</h4>

            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>© 2023 Men's Clothing Store. All rights reserved.</p>
    </footer>

</body>

</html>